BOT_TOKEN=PUT_YOUR_TOKEN_HERE
CLIENT_ID=PUT_CLIENT_ID_HERE
GUILD_ID=PUT_SERVER_ID_HERE

APPLICATION_CATEGORY_ID=PUT_CATEGORY_ID_HERE
STAFF_ROLE_ID=PUT_STAFF_ROLE_ID_HERE
BNR_ROLE_ID=PUT_BNR_ROLE_ID_HERE
